html,
body {
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: url(bg.jpg) center top no-repeat;
    background-size: cover;
}

/*не удалять*/
/*.test-panel {
    position: fixed;
    left: 0;
    right: 0;
    background: #507299;
    padding: 20px;
    bottom: 0;
    z-index: 15000000;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: all 0.5s;
}

.test-panel.open {
    transform: translateY(0%);
    transition: all 0.5s;
}

.test-panel__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: -50px;
    width: 50px;
    height: 50px;
    background: #507299;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.test-panel__btn svg {
    transition: all 0.5s;
    transform: rotate(0deg);
}

.test-panel__btn.open svg {
    transition: all 0.5s;
    transform: rotate(180deg);
}

.test-panel__section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-panel__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.test-panel__label {
    margin-right: 5px;
}

.test-panel__name {
    font-size: 14px;
    font-family: Tahoma;
    font-size: 14px;
    color: #fff;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
}

.test-panel__label input {
    display: block;
    margin: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 0;
}*/
/*не удалять*/
